In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os

In [12]:
os.listdir()

['X_train.csv', 'y_train.csv']

In [11]:
cd Training

C:\Users\thaku\Desktop\Monsoon\DS TEST\Training

In [18]:
x_train_dir = r'C:\Users\thaku\Desktop\Monsoon\DS TEST\Training\X_train.csv'
y_train_dir =r'C:\Users\thaku\Desktop\Monsoon\DS TEST\Training\y_train.csv'

In [19]:
df = pd.read_csv(x_train_dir)
df.head()

,Unique_ID,C1,C2,C3,C4,C5,C6,C7,C8,N1,...,N26,N27,N28,N29,N30,N31,N32,N33,N34,N35
0,Candidate_5926,1,0,11,31,0,False,0,True,23.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,113.39,12.0
1,Candidate_48134,1,4,2,66,2,False,1,True,11.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0,262.10,17.0
2,Candidate_51717,1,0,19,2,0,False,0,True,29.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,50.29,18.0
3,Candidate_26401,1,1,16,47,1,False,4,True,17.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,126.52,27.0
4,Candidate_34872,1,1,13,1,1,True,6,True,27.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,205.47,21.0

In [21]:
# Dataset
# X_train
# Unique_ID: Represent the Unique Identifier
# C1 to C8: Represents Categorical Columns, which are already encoded into numeric representation
# N1 to N35: Represent Numerical Columns
# y_train
# Unique_ID: Represent the Unique Identifier
# Dependent_Variable: Represent the outcome or dependent variable

In [22]:
y_df = pd.read_csv(y_train_dir)
y_df.head()

         Unique_ID  Dependent_Variable
0   Candidate_5926                   1
1  Candidate_48134                   0
2  Candidate_51717                   1
3  Candidate_26401                   0
4  Candidate_34872                   0

In [23]:
y_df['Dependent_Variable'].nunique()

2

In [48]:
y_df[y_df['Dependent_Variable']==1].shape[0]/y_df.shape[0],  y_df[y_df['Dependent_Variable']==0].shape[0]/y_df.shape[0]

(0.3088048411497731, 0.691195158850227)

In [ ]:
BFSI Sector, GBT leaves as features
https://towardsdatascience.com/next-better-player-gbdt-lr-for-binary-classification-f8dc6f32628e

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33050 entries, 0 to 33049
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Unique_ID  33050 non-null  object
 1   C1         33050 non-null  int64
 2   C2         33050 non-null  int64
 3   C3         33050 non-null  int64
 4   C4         33050 non-null  int64
 5   C5         33050 non-null  int64
 6   C6         33050 non-null  bool
 7   C7         33050 non-null  int64
 8   C8         33050 non-null  bool
 9   N1         33050 non-null  float64
 10  N2         28438 non-null  float64
 11  N3         32685 non-null  float64
 12  N4         28444 non-null  float64
 13  N5         28444 non-null  float64
 14  N6         32685 non-null  float64
 15  N7         32623 non-null  float64
 16  N8         33050 non-null  int64
 17  N9         33050 non-null  int64
 18  N10        32623 non-null  float64
 19  N10.1      32623 non-null  float64
 20  N11        32334 non-null  float64
 21  N12        28436 non-null  float64
 22  N14        32442 non-null  float64
 23  N15        32623 non-null  float64
 24  N16        28444 non-null  float64
 25  N17        28444 non-null  float64
 26  N18        28444 non-null  float64
 27  N19        28479 non-null  float64
 28  N20        28479 non-null  float64
 29  N21        28479 non-null  float64
 30  N22        28479 non-null  float64
 31  N23        30564 non-null  float64
 32  N24        33050 non-null  float64
 33  N25        6271 non-null   float64
 34  N26        6271 non-null   float64
 35  N27        6271 non-null   float64
 36  N28        6271 non-null   float64
 37  N29        6271 non-null   float64
 38  N30        6271 non-null   float64
 39  N31        6271 non-null   float64
 40  N32        6220 non-null   float64
 41  N33        33050 non-null  float64
 42  N34        33050 non-null  float64
 43  N35        32623 non-null  float64
dtypes: bool(2), float64(33), int64(8), object(1)
memory usage: 10.7+ MB

In [27]:
print('C1 values is ',df['C1'].unique())
print('C2 values is ',df['C2'].unique())
print('C3 values is ',df['C3'].unique())
print('C4 values is ',df['C4'].unique())
print('C5 values is ',df['C5'].unique())
print('C6 values is ',df['C6'].unique())
print('C7 values is ',df['C7'].unique())

C1 values is  [1 2 3]
C2 values is  [ 0  4  1  6  3  9  2  7 11 13  5 18 15 14 19 16 20 12  8 10 17]
C3 values is  [11  2 19 16 13 30 41 34 35 17  7  5  6  1  0 15  3 23 31 29 28 26  8 43
 12  9  4 22 14 36 20 33 38 24 46 10 50 37 18 42 25 27 48 21 32 40 44 51
 39 47 49 45]
C4 values is  [31 66  2 47  1 13  0 17 35 10 11 12 15 50  4 16 18 19 61 41 14 62 27 42
  5 29 26  6 28 32  9 38 20 58 40 37 30  7 55 46 57 48 60 59 23 43  8  3
 34 54 22 25 33 39 24 52 63 36 21 64 44 45 51 49 53 65 56 67]
C5 values is  [0 2 1 5 4 6 7 3]
C6 values is  [False  True]
C7 values is  [0 1 4 6 2 7 3 5]

In [37]:
type(df['C2'].unique())

numpy.ndarray

In [43]:
np.sort(df['C7'].unique())

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [ ]:
imbalance problem